.container {
  height: fit-content;
  margin-top: 10px;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, .3);
  text-transform: capitalize;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  border: 2px solid #C8A36E;
}

.container:hover input ~ .checkmark {
  border: 2px solid #CCC;
}

.container input:checked ~ .checkmark {
  border: 2px solid #40703f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: -5px;
  width: 5px;
  height: 15px;
  border: solid #40703f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checked {
  opacity: .5;
}

.red {
  color: #8f2e2e;
}

.list {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
