:root {
  --defaultColor: #CCC;
  --textColor: #C8A36E;
  --backgroundColor1: #282828;
  --backgroundColor2: #121212;
}

*:focus {
  outline: none;
}

body {
  padding: 10px;
  max-height: 100%;
  font-family: 'Montserrat', sans-serif;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  background: var(--backgroundColor1);
  color: var(--textColor);
  position: static;
}

button {
  padding: 10px;
  background: transparent;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  color: var(--textColor);
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

.header-text {
  font-size: 2.5em;
  font-family: 'Charm', cursive;
}
